body{
    background-color: burlywood;
    font-family: 'Press Start 2P', cursive;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    
    
}

h1{
   text-align: center;
   padding: 20px;
}

.coffee{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#dripValue, #espressoValue, #cortadoValue, #cappuccinoValue, #latteValue, #teaValue{
    width: 60px;
    padding: 0px;
    margin: 0px 60px 0 70px;
    flex-direction: row;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;

}

#dripText, #espressoText, #cortadoText, #cappucinoText, #latteText, #teaText{
    width: 60px;
    padding: 0px;
    margin: 0px 60px 0 70px;
    flex-direction: row;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#drip, #espresso, #cortado, #cappucino, #latte, #tea{

    width: 60px;
    border: 5px solid black;
    color: blue;
    padding: 30px;
    margin: 30px;
    background-color: white;
}

.coffeeImg{
    display: block;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;

}

.textBox{
    border: 2px solid black;
    margin: 100px 400px 0px 400px;
    padding: 70px;
    background-color: lightgray;
    text-align: center;
    
    display: flexbox;
}

.buttonContainer{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


